.contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 20px 0px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 0.2px;
    color: var(--background-color);
    background-color: var(--primary-color);

    &__contato {
        list-style: none;
        display: flex;
        padding-left: 5%;
    }

        &__social-media {
            list-style: none;
            display: flex;
            padding: 0 5% 0 0;
            
            &__item {
                padding-left: 16px;
            }

            &__icon {
                text-decoration: none;
                color: var(--background-color);
            }
        }
    
}