.contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    // padding:  24px;
    padding: 10px 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 0.2px;
    color: #fff;
    background-color: #000;

    &__contato {
        list-style: none;
        display: flex;
        padding-left: 10%;
        
        // &__item {
        //     padding-left: 16px;
        // }
    }

        &__social-media {
            list-style: none;
            display: flex;
            padding: 0 10% 0 0;
            
            &__item {
                padding-left: 16px;
            }

            &__icon {
                text-decoration: none;
                color: #fff;
            }
        }
    
}