.hero {
    // flex-direction: column;

    // width: 100%;
    min-height: 50vh;
    max-height: 60vh;
    background-image: url('../Images/Foto-banner.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: start; 
    justify-content: flex-start; 
    text-align: start;

    &__conteudo {
        max-width: 640px;
        // padding: 16vw;
        padding: 14vw 5%;
        display: flex;

        &__title {
            text-transform: uppercase;
            font-family: "Permanent Marker", cursive;
            font-size: 100px;
            color: var(--accent-color);
        }

        &__sub-title {
            color: var(--background-color);
            padding: 12px 0;
            letter-spacing: 0.9px;
            font-size: 16px;
        }

        &__lista {
            display: flex;
            list-style: none;
            padding: 0;
            gap: 10px;

            &__item {
                padding: 16px 16px 16px 0;
            }

            &__btn {
                font-family: "Inknut Antiqua", serif;
                color: var(--primary-color);
                background-color: var(--background-color);
                border-style: none;
                border-radius: 8px;
                font-size: 16px;
                display: block;
                height: 60px;
                width: 140px;
                cursor: pointer;
                font-weight: bold;

                &:hover {
                    transform: scale(1.05); 
                }
                &:active {
                    transform: scale(0.95);
                  }
            }
        }

        // &__marca {
        //     // max-width: 320px;
        //     // margin: 0 auto 38px;
        // }
    }
}