@use 'variables';

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 0 5%;
    position: relative;

    &__title {
        font-family: 'Amaranth', sans-serif;
        font-size: 36px;   
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__links {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        text-decoration: none;
        color: var(--primary-color);

        &__item {
            padding: 8px;
            padding-left: 0;
            list-style: none;
        }

        // &__icons {
        //     display: flex;
        // }
    }

    &__nav-link {
        text-decoration: none;
        color: #000;
        transition: all 0.3s ease ;
        font-size: 16px;
    
        &:hover {
            color: var(--secondary-color);
            transform: scale(1.2);
            transition: all 0.3s ease ;
        }
    }

    &__icons {
        display: flex;
        font-size: 16px;

        &__item {
            padding: 8px 0 8px 8px;
            list-style: none;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease ;

            &:hover {
                color: var(--secondary-color);
                transform: scale(1.2);
                transition: all 0.3s ease ;
            }
        }
    }

    &__busca {
        display: none;
        align-items: center;
        padding: 4px;
        list-style: none;

        &__input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        }

        &__button {
            background-color: var(--secondary-color);
        color: var(--background-color);
        border: none;
        border-radius: 4px;
        padding: 8px 12px;
        cursor: pointer;
        }
    }
}



