.home-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__text,
  &__links,
  .cta-brands {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  &__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 0 10px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      // transform: scale(1.05); 
      filter: brightness(0.7) saturate(0.5);
    }
  }

  .link-camisetas {
    background-image: url('../Images/camiseta.jpg');
  }

  .link-calcas {
    background-image: url('../Images/calca-amarela.jpg');
  }

  .link-sapatos {
    background-image: url('../Images/sapato.jpg');
  }

  &__link {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--background-color);
    text-decoration: none;
    text-align: center;
  }

  .cta-brands img {
    max-width: 100%;
    height: auto;
  }

  &__links {
    display: flex;
    justify-content: center;
  }
}
